*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
    color:#333;
    line-height:1.6;
}

/* HEADER */

header{
    background:#003366;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    position:sticky;
    top:0;
}

.logo h2{
    font-size:28px;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

nav ul li a:hover{
    color:#ffd700;
}

/* BANNER */

.banner{
    height:520px;
    background:linear-gradient(rgba(0,51,102,.65),rgba(0,51,102,.65)),
    url("../images/banner.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.banner-text{
    width:80%;
}

.banner-text h1{
    font-size:55px;
    margin-bottom:15px;
}

.banner-text h2{
    font-size:35px;
    margin-bottom:20px;
}

.banner-text p{
    font-size:20px;
    margin-bottom:35px;
}

.btn{
    background:#ffd700;
    color:#000;
    text-decoration:none;
    padding:14px 30px;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
}

.btn:hover{
    background:#ffffff;
}

/* SECTION */

section{
    padding:60px;
}

section h2{
    text-align:center;
    color:#003366;
    margin-bottom:30px;
}

/* PROFIL */

.profil p{
    text-align:center;
    width:80%;
    margin:auto;
    font-size:18px;
}

/* CARD */

.card{
    display:flex;
    justify-content:space-between;
    gap:25px;
}

.box{
    background:white;
    padding:30px;
    border-radius:10px;
    width:33%;
    box-shadow:0 0 10px rgba(0,0,0,.15);
    transition:.3s;
}

.box:hover{
    transform:translateY(-10px);
}

.box h3{
    color:#003366;
    margin-bottom:15px;
}

.box p{
    text-align:justify;
}

/* TABEL */

.informasi table{
    width:70%;
    margin:auto;
    border-collapse:collapse;
}

.informasi td{
    border:1px solid #ccc;
    padding:12px;
}

/* FOOTER */

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}

footer p{
    line-height:2;
}

/* RESPONSIVE */

@media(max-width:900px){

header{
    flex-direction:column;
}

nav ul{
    flex-direction:column;
    text-align:center;
}

nav ul li{
    margin:10px 0;
}

.banner-text h1{
    font-size:40px;
}

.banner-text h2{
    font-size:28px;
}

.card{
    flex-direction:column;
}

.box{
    width:100%;
}

.informasi table{
    width:100%;
}

section{
    padding:30px;
}

}